form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: #d7e3fc;
}

form {
    button {
        margin-left:45%;
    }
}
input {
    padding: 5px 20px;
    width: 90%;
    line-height: 16px;
    margin: 10px 0;
}
